{% extends 'base.html' %}

{% block head %} <title>SpotiSearch</title> {% endblock %} 

{% block body %}
    <div style="margin-top: 10%;" class="ui text container">
        <h1 class="ui center aligned icon blue inverted huge header">
            <i class="music icon"></i>
            <div class="content">
                SpotiSearch
                <div class="ui hidden divider"></div>
              <h4 class="ui sub header">Get in depth information about your favorite artists, albums and songs</h4>
            </div>
        </h1>
        <div class="ui hidden section divider"></div>
        <div class="ui center aligned basic segment">
            <a id="loader" class="ui green big button" href="{{ url_for('request_auth') }}" onclick="load()">Sign in!</a>
        </div> 
    </div>
    
{% endblock %}